.page-home
{
    .site-content
    {
        @apply mb-0;
    }

    .site-footer
    {
        @apply mt-0;
    }
}

// homepage
.home-hero
{
    background-image: url(../img/rms-header.jpg);
    background-size: cover;
    background-position: bottom center;

    @apply flex content-center justify-center flex-col;
}

.home-hero-header
{
    @apply text-2xl mt-0;

    @include media(">=1024px")
    {
        @apply text-5xl;
    }
}

.home-hero-content
{
    @apply text-lg text-gray-800 mb-8;

    @include media(">=1024px")
    {
        @apply text-xl;
    }
}

.home-hero-button
{
    @apply inline-block bg-blue-500 text-white font-bold py-3 px-6 rounded mb-5;

    @include media(">=1024px")
    {
        @apply text-xl mb-0;
    }

    &:hover {
        @apply bg-blue-700 text-white;
    }

    &:focus {
        @apply outline-none shadow-outline;
    }
}

@media only screen and (min-width: 1024px) {
    .home-hero
    {
        height: 50vh;
    }
}

.home-hero-container
{
    background-color: rgba(255,255,255,.85);
    @apply p-8 rounded;
}