// search page
.search-input 
{
    input 
    {
        @apply shadow-lg border border-gray-200 rounded-md p-5 pr-20 mb-10 text-sm font-hairline;        

        @include media(">=desktop") 
        {
            @apply text-xl;
        }
    }

    button
    {
        margin-left: 15px;
        font-size: 28px;
        @apply text-gray-700;
    }
}

.search-home
{
    position: relative;
    @apply mb-8;

    input 
    {
        width: 100%;
        @apply mb-0;
    }

    button 
    {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
    }
}