html {
    scroll-behavior: smooth;
}

body {
    
    // sticky footer with tailwind
    // https://dev.to/timosville/sticky-footer-using-tailwind-css-225p
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    // js no scroll class
    &.no-scroll
    {
        overflow-y: hidden;
    }
}

.site-content
{
    @apply mb-10 flex-grow;

    @include media("<=1024px")
    {
        max-width: 90%;
        margin: 0 auto;

        &.home-content
        {
            max-width: none;
        }

        .home-content-inner
        {
            max-width: 90%;
            margin: 0 auto;
        }
    }
}

.standard-box
{
    @apply shadow-lg border border-gray-200 rounded-md p-5 mb-10;
}