.section-block
{
    @apply pt-8 pb-8;
}

.support-local
{
    @apply bg-gray-100 mt-10 mb-0;
}

.section-header
{
    @apply font-hairline text-4xl text-center mt-4 mb-4 text-teal-900;
}

.section-description
{
    @apply text-center mb-12 text-teal-900;
}

.support-wrapper
{
    @include media(">=desktop") {
        @apply flex flex-row flex-wrap;
    }
}

.support-box
{
    @apply flex flex-col flex-grow-0 justify-start content-center text-center mb-10 text-teal-900 px-2;
    position: relative;
    min-height: 150px;
    
    @include media(">=desktop") {
        @apply w-1/3;
    }
}

.support-graphic
{
    @apply text-gray-300;
    font-size: 10rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 1;
}

.support-label
{
    @apply text-2xl font-hairline mb-2;
    z-index: 2;
}

.support-description
{
    @apply text-teal-900;
    z-index: 2;
}