h1,h2,h3,h4,h5,h6 {
    font-family: 'Libre Baskerville', serif;
}

h1 {
    font-size: rem(32px);
}

h2 {
    font-size: rem(28px);
}

h3 {
   font-size: rem(22px);
}

b {
    font-weight: bold;
}

i {
    font-style: italic;
}

p {
    margin-bottom: 10px;
}

ul, ol
{
    margin: 15px 0 15px 20px;
    padding-left: 10px;
    li {
        list-style-type: disc;
    }
}

ol
{
    li {
        list-style-type: numeric;
    }
}